p-checkbox {
    margin-right: .5em;
}
th p-checkbox {
    text-align: left;
}
p-dropdown {
    margin-bottom: .5em;
}

p-button {
    margin-left: .5em;
    margin-top: 1em;
}

p-table input {
    width: -webkit-fill-available;
}

#vegetables {
    height: 110px;
    background-repeat: no-repeat;
    background-position-x: right;
}

@media (min-width: 1400px) {
    #vegetables {
        width: 1100px;
        background-size: 1100px;
        background-image: url('/assets/vegetables_big.png');
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    #vegetables {
        width: 500px;
        background-size: 500px;
        background-image: url('/assets/vegetables_medium.png');
    }
}

@media (max-width: 800px) {
    #vegetables {
        width: 100px;
        background-size: 100px;
        background-image: url('/assets/vegetables_small.png');
    }
}
