/* You can add global styles to this file, and also import other style files */

p-table {
    min-width: 300px;
}

/* MEDIA */
@media (max-width: 800px) {
    h1 {
        font-size: 1.5em;
    }
    p-tabview li > a {
        padding: .25em .25em !important;
    }

    p-tabview li > a > span {
        margin-right: 0 !important;
    }
}

@media (max-width: 400px) {
    .left {
        margin-left: 0;
    }
    p-button[icon="pi pi-trash"] button {
        width: 1em !important;
    }
}
@media (min-width: 400px) {
    .left {
        margin-left: .5em;
    }
    p-button[icon="pi pi-trash"] button {
        width: 2em !important;
    }
}

.right {
    margin-right: .5em !important;
}

/* FLEX */
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex6 {
    flex: 6;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-around
{
    display: flex;
    justify-content: space-around;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
}

.flex-end
{
    align-self: flex-end;
}

/* PRIMENG */ 

body {
    background-color: lightblue;
}

body .ui-tabview .ui-tabview-panels {
    background-color: floralwhite !important;
}

body .ui-table .ui-table-tbody > tr {
    background-color: #e1eef3 !important;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: #b8dcf9 !important;
}

body .ui-button.ui-state-default.ui-button-secondary, body .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default {
    color: #ffffff !important;
    background-color: #48b3e0 !important;
    border: 1px solid #48b3e0 !important;
}

body .ui-button {
    background-color: #48b3e0 !important;
    border: 1px solid #48b3e0 !important;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #48b3e0 !important;
    border: 1px solid #48b3e0 !important;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #48b3e0 !important;
    color: #ffffff;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    max-height: 400px !important;
}