<p-toast></p-toast>
<div id="spinner" *ngIf="!(produitReady && recetteReady)">
    <div id="inner">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<div class="flex-between">
    <span></span>
    <h1 class="" style="font-family: 'Open Sans'">Qu'est-ce qu'on mange ?</h1>
    <img style="height: 100px;" src="/assets/logo.png"/>
</div>
<p-tabView>
    <p-tabPanel header="Produits" leftIcon="pi pi-list">
        <app-produits (onProduits)="setProduits($event)"></app-produits>
    </p-tabPanel>
    <p-tabPanel header="Recettes" leftIcon="pi pi-home">
        <app-recettes [produits]="produits" (onRecettes)="setRecettes($event)"></app-recettes>
    </p-tabPanel>
    <p-tabPanel header="Stocks & Courses" leftIcon="pi pi-shopping-cart">
        <app-stocks [produits]="produits" [recettes]="recettes"></app-stocks>
    </p-tabPanel>
</p-tabView>